<div class="content"> 
  <div fxLayout="row wrap" style="justify-content: center;" fxLayoutGap="10px grid">
    <div fxFlex="30%" fxFlex.xs="70%" fxFlex.sm="40%" *ngFor="let pokemon of pokemons" >
      <mat-card  class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>{{pokemon.name | titlecase}}</mat-card-title>
        </mat-card-header>
        <a routerLink="pokemon/{{pokemon.id}}">
          <div class="pokemon-sprite">
            <img mat-card-image src="{{pokemon.sprites.front_default}}">
        </div>
        </a>
        <mat-card-content>
          <div style="text-align: center;">
            <p style="text-align: left;">
                N°{{pokemon.id}}
            </p>
            <div style="display: flex;">
              <span  class="type-name" *ngFor="let type of pokemon.types" [ngStyle]="{backgroundColor: getColor(type.type.name)}" >{{type.type.name}}</span>
            </div>
            
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div style="text-align: -webkit-center; margin: 50px;">
    <mat-spinner style="justify-content: center" *ngIf="loading" ></mat-spinner> 
  </div>
  <div style="text-align:center; margin: 50px;">
    <button mat-raised-button color="primary" (click)="addPokemons()">Carregar mais Pokémons</button>
  </div>
</div>
