<div class="content">
  <div class="layout" fxLayout="row wrap" fxLayoutGap="10px grid">
    <div fxFlex="40%" fxFlex.xs="80%" fxFlex.sm="50%">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>{{pokemon.name | titlecase}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="pokemon-sprite">
            <img mat-card-image src="{{pokemon.sprites.front_default}}">
          </div>
          <div style="display: flex;">
            <div class="type-name" style="text-align-last: justify; background-color: #79b5f5;">
              <span>
                N°{{pokemon.id}}
              </span>
              <span>
                {{pokemon.weight}}Kg
              </span>
              <span>
                {{pokemon.height}}M
              </span>
            </div>
          </div>
          <div style="display: flex; text-align: center;" *ngFor="let type of pokemon.types">
            <span class="type-name" [ngStyle]="{backgroundColor: getColor(type.type.name)}">{{type.type.name}}</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="30%" fxFlex.xs="80%" fxFlex.sm="50%">
      <mat-card class="mat-elevation-z4" style="background-color:#79b5f5;">
        <mat-card-header>
          <mat-card-title>Status</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="pokemon-physical">
            <div class="pokemon-status" style="display: flex;" *ngFor="let stats of pokemon.stats">
              <p style="white-space: pre-wrap">{{stats.stat.name}}: {{stats.base_stat}}</p>
            </div>
          </div>
        </mat-card-content>
        <!-- <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
      </mat-card>
    </div>
  </div>
</div>