<div style="display: flex;">
  <div style="width: 20%;"></div>
  <div style="width: 60%; margin-top: 140px;">
    <router-outlet>
    </router-outlet>
  </div>
  <div style="width: 20%;"></div>
</div>


<!-- <mat-list style="display: flex;" >
  <mat-list-item style="width: 30%; height:auto;"> </mat-list-item>
  
  <mat-list-item class="centro" style="height:auto;"> 
    <router-outlet></router-outlet>
  </mat-list-item>

  <mat-list-item style="width: 30%; height:auto;" > </mat-list-item>
</mat-list> -->