<mat-toolbar color="primary" class="header">
  <mat-toolbar-row class="row-toolbar">
    <a routerLink="">
      <img class="logo" src="../../../assets/images/logo.png" alt="logo">
    </a>
  </mat-toolbar-row>
  <mat-toolbar-row class="row-toolbar">
    <div style="width: 180px; margin-right: 30px;">
      <button mat-flat-button (click)="getUltimoSelecionado()" style="cursor: pointer; width: 100%;">Ultimo Selecionado</button>
    </div>
    <div style="width: 180px;text-align: center; margin-right: 35px;">
      <div style=" display: inline;" >
        <input matInput type="text" (keyup.enter)="getPokemon(pokemon)" [(ngModel)]="pokemon">
        <button matSuffix mat-icon-button mat-button (click)="getPokemon(pokemon)">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
    <div style=" width: 180px;">
      <mat-form-field>
        <mat-label>Organizar</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="types" (selectionChange)="ordenar($event)">
          <mat-option *ngFor="let type of types" [value]="type.value">
            {{type.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-toolbar-row>
</mat-toolbar>