<mat-toolbar color="primary" class="header">
  <mat-toolbar-row class="row-toolbar">
    <a routerLink="">
      <img class="logo" src="../../../assets/images/logo.png" alt="logo">
    </a>
  </mat-toolbar-row>

  <mat-toolbar-row class="row-toolbar">
    <div style="width: 180px; text-align: center; margin-right: 30px;">
      Ultimo Selecionado
    </div>
    <div style="width: 180px;text-align: center; margin-right: 30px;">
      <div style=" display: inline;">
        <input matInput type="text" (keyup.enter)="getPokemon(pokemon)" [(ngModel)]="pokemon">
        <button matSuffix mat-icon-button mat-button  (click)="getPokemon(pokemon)">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
    <div style=" width: 180px; text-align: center;">
      Organizar
    </div>
  </mat-toolbar-row>
</mat-toolbar>