/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
 
.type-name {
  display: inline;
  border: 2px solid black;
  border-radius: 6px;
  margin-bottom: 3px;
  width: 100%;
  margin: 1px;
}

.pokemon-sprite{
  border-radius: 5px;
  display: flex;
  background-color: #f1f1f1;
  margin: 10px;
}